/* PAGE */
html {
  background-color: #ccc;
}

/* TRANSPORT */

#transport {
  position: fixed;
  bottom: 10px;
  padding: 0 5px;
}

#transport button, label, #togglePlayback {
  margin: 0 0 0 10px;
}

#togglePlayback img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-bottom: -5px;
}

/* TRACK LIST */

#tracks {
  width: 900px;
  margin: 10px auto 0;
  border: 1px solid #222;
  padding: 5px 5px 0;
}

/* INDIVIDUAL TRACK */
.track {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}

/* TRACK LABEL/CONTROLS */
.trackControls {
  width: 130px;
  float: left;
}

.tracklabel {
  float: left;
  margin-right: 5px;
}

.trackLabelText {
  margin-left: 2px;
}

.toggleEffects img {
  width: 18px;
  margin-bottom: -4px;
  cursor: pointer;
}

.trackControls .left {
  float: left;
  width: 115px;
}

/* SAMPLE UPLOAD */
.trackControls .left .sample {
  width: 110px;
  float: left;
}

.trackControls .left .sample input {
  width: 80px;
}

/* MUTE/SOLO */
.trackControls .right {
  float: right;
}

.solo, .mute {
  width: 15px;
  text-align: center;
  cursor: hand;
  float: left;
  clear: both;
}

.solo {
  background-color: yellow;
}

.mute {
  background-color: red;
  color: #fff;
}

/* STEPS */
.steps {
  float: right;
  width: 760px;
}

.step {
  height: 35px;
  background-color: #fff;
  border: 1px solid #000;
  float: left;
}

.step.on {
  background-color: #000;
}

.steps[numsteps='4'] .step {
  width: 35.04px;
  margin: 1px 77px;
}

.steps[numsteps='8'] .step {
  width: 35.04px;
  margin: 1px 29.35px;
}

.steps[numsteps='16'] .step {
  width: 35.04px;
  margin: 1px 5.41px;
}

.steps[numsteps='32'] .step {
  width: 17.5px;
  margin: 1px 0 1px 4.39px;
}

.step.first {
  margin-left: 0 !important;
}

.step.last {
  margin-right: 0 !important;
}

/* EFFECTS PANEL */
.effects-panel {
  display: none;
  float: left;
  width: 100%;
  overflow: hidden;
}

.createeffect {
  margin-bottom: 7px;
  width: 110px;
}

.effect {
  border: 1px solid #222;
  padding: 2px 3px;
  overflow: hidden;
}

.effectTitle {
  font-size: 17px;
  font-weight: bold;
  margin: -4px 0 1px;
}

.paramsList {
  padding-left: 10px;
  font-size: 13px;
}

.effectParam {
  cursor: pointer;
  width: 80px;
}

.effectParam.on {
  background-color: yellow;
}

.effectControls {
  width: 100px;
  float: left;
}

.automationContainer {
  float: right;
  width: 771px;
  display: none;
}

.canvas {
  float: right;
  width: 758px;
}

.canvasLabels {
  font-size: 11px;
  float: left;
  width: 11px;
}

.canvasLabels span {
  float: right;
}

.canvasLabels .max {
  margin-bottom: 94px;
}

/* GENERAL */
.close img {
  cursor: pointer;
  margin: 0 3px -2px;
  width: 15px;
}