html {
  background-color: #ccc;
}

div#wrapper {
  width: 900px;
  height: 30px;
  margin: 100px auto 0;
  border: 1px solid #222;
  padding: 5px 5px 0;
  position: relative;
}

div#transport {
  position: absolute;
  bottom: 5px;
  left: 0;
  padding: 0 0 0 10px;
}

li.track {
  height: 70px;
  width: 100%;
}

div#tracks {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
}

div#tracks ul {
  margin: 0;
  padding: 0; 
  list-style: none;
}

div.steps {
  float: right;
  width: 770px;
}

div.step {
  height: 35px;
  width: 35px;
  background-color: #fff;
  border: 1px solid #000;
  float: left;
  margin: 1px 15.88px;
}

div.step.on {
  background-color: #000;
}

p.tracklabel {
  float: left;
  margin: 0px;
}

div.trackControls {
  width: 130px;
  float: left;
}

.trackControls div.right {
  float: right;
}

.trackControls div.left {
  float: left;
  width: 115px;
}

.trackControls div.left .sample {
  width: 110px;
  float: left;
}

span.removeSample {
  width: 5px;
  height: 5px;
  background-color: red;
  color: #000;
  cursor: pointer;
  margin-left: 3px;
}
.trackControls div.left .sample input {
  width: 80px;
}

span.solo, span.mute {
  width: 15px;
  text-align: center;
  cursor: hand;
  float: left;
  clear: both;
}

span.solo {
  background-color: yellow;
}

span.mute {
  background-color: red;
  color: #fff;
}

div#transport button, label {
  margin: 0 0 0 10px;
}