/* PAGE */
html {
  background-color: #ccc;
}

/* WRAPPER/TRANSPORT */
div#wrapper {
  width: 900px;
  height: 100px;
  margin: 100px auto 0;
  border: 1px solid #222;
  padding: 5px 5px 0;
  position: relative;
}

div#transport {
  position: absolute;
  bottom: 5px;
  left: 0;
  padding: 0 0 0 10px;
}

div#transport button, label, span#togglePlayback {
  margin: 0 0 0 10px;
}

span#togglePlayback img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-bottom: -5px;
}

/* TRACK LIST */
div#tracks {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
}

div#tracks ul {
  margin: 0;
  padding: 0; 
  list-style: none;
}

/* INDIVIDUAL TRACK */
li.track {
  height: 70px;
  width: 100%;
}

/* TRACK LABEL/CONTROLS */
div.trackControls {
  width: 130px;
  float: left;
}

p.tracklabel {
  float: left;
  margin: 0px;
}

span.toggleEffects img {
  width: 18px;
  margin-bottom: -4px;
  cursor: pointer;
}

.trackControls div.left {
  float: left;
  width: 115px;
}

/* SAMPLE UPLOAD */
.trackControls div.left .sample {
  width: 110px;
  float: left;
}

.trackControls div.left .sample img {
  margin: 0 19%;
  width: 18px;
}

.trackControls div.left .sample input {
  width: 80px;
}

/* MUTE/SOLO */
.trackControls div.right {
  float: right;
}

span.solo, span.mute {
  width: 15px;
  text-align: center;
  cursor: hand;
  float: left;
  clear: both;
}

span.solo {
  background-color: yellow;
}

span.mute {
  background-color: red;
  color: #fff;
}

/* STEPS */
div.steps {
  float: right;
  width: 770px;
}

div.step {
  height: 35px;
  background-color: #fff;
  border: 1px solid #000;
  float: left;
}

div.step.on {
  background-color: #000;
}

div.steps[numsteps='4'] div.step {
  width: 35px;
  margin: 1px 77.7px;
}

div.steps[numsteps='8'] div.step {
  width: 35px;
  margin: 1px 29.63px;
}

div.steps[numsteps='16'] div.step {
  width: 35px;
  margin: 1px 5.56px;
}

div.steps[numsteps='32'] div.step {
  width: 17.5px;
  margin: 1px 0 1px 4.56px;
}

/* EFFECTS PANEL */
span.addeffect {
  background-color: #1BBFE0;
  cursor: pointer;
}

div.effects-panel {
  height: 0px;
  float: left;
  width: 100%;
  overflow: hidden;
}

/* GENERAL */
span.close {
  width: 5px;
  height: 5px;
  background-color: red;
  color: #000;
  cursor: pointer;
  margin-right: 3px;
}