/* PAGE */
html {
  background-color: #ccc;
}

/* WRAPPER/TRANSPORT */
#wrapper {
  width: 900px;
  height: 100px;
  margin: 100px auto 0;
  border: 1px solid #222;
  padding: 5px 5px 0;
  position: relative;
}

#transport {
  position: absolute;
  bottom: 5px;
  left: 0;
  padding: 0 0 0 10px;
}

#transport button, label, #togglePlayback {
  margin: 0 0 0 10px;
}

#togglePlayback img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-bottom: -5px;
}

/* TRACK LIST */
#tracks {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
}

#tracks ul {
  margin: 0;
  padding: 0; 
  list-style: none;
}

/* INDIVIDUAL TRACK */
.track {
  height: 40px;
  width: 100%;
  margin-bottom: 30px;
}

/* TRACK LABEL/CONTROLS */
.trackControls {
  width: 130px;
  float: left;
}

p.tracklabel {
  float: left;
  margin: 0px;
}

.toggleEffects img {
  width: 18px;
  margin-bottom: -4px;
  cursor: pointer;
}

.trackControls .left {
  float: left;
  width: 115px;
}

/* SAMPLE UPLOAD */
.trackControls .left .sample {
  width: 110px;
  float: left;
}

.trackControls .left .sample img {
  margin: 0 19%;
  width: 18px;
}

.trackControls .left .sample input {
  width: 80px;
}

/* MUTE/SOLO */
.trackControls .right {
  float: right;
}

.solo, span.mute {
  width: 15px;
  text-align: center;
  cursor: hand;
  float: left;
  clear: both;
}

.solo {
  background-color: yellow;
}

.mute {
  background-color: red;
  color: #fff;
}

/* STEPS */
.steps {
  float: right;
  width: 770px;
}

.step {
  height: 35px;
  background-color: #fff;
  border: 1px solid #000;
  float: left;
}

.step.on {
  background-color: #000;
}

.steps[numsteps='4'] .step {
  width: 35px;
  margin: 1px 77.7px;
}

.steps[numsteps='8'] .step {
  width: 35px;
  margin: 1px 29.63px;
}

.steps[numsteps='16'] .step {
  width: 35px;
  margin: 1px 5.56px;
}

.steps[numsteps='32'] .step {
  width: 17.5px;
  margin: 1px 0 1px 4.56px;
}

/* EFFECTS PANEL */
.effects-panel {
  height: 0px;
  float: left;
  width: 100%;
  overflow: hidden;
}

.createeffect {
  margin-bottom: 7px;
}

.effect {
  border: 1px solid #222;
  padding: 2px 3px;
}

.effectTitle {
  font-size: 17px;
  font-weight: bold;
  margin: -4px 0 1px;
}

.paramsList {
  padding-left: 10px;
  font-size: 13px;
}

.effectParam {
  cursor: pointer;
  width: 80px;
}

.effectParam.on {
  background-color: yellow;
}

.effectControls {
  width: 100px;
  float: left;
}

.automationCanvas {
  float: right;
  width: 770px;
}

/* GENERAL */
.close {
  width: 5px;
  height: 5px;
  background-color: red;
  color: #000;
  cursor: pointer;
  margin-right: 3px;
}