/* PAGE */
html {
  background-color: #ccc;
}

/* APP */

#app {
  width: 956px;
  margin: 10px auto 0;
  border: 1px solid #222;
  padding: 5px;
  overflow: scroll;
}

#transport button, label, #togglePlayback {
  margin: 0 5px;
}

#togglePlayback img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-bottom: -5px;
}

#transport {
  position: fixed;
  bottom: 10px;
  white-space: nowrap;
}

.instrument {
  position: relative;
}

.instrumentTitle {
  position: absolute;
  top: 0;
}

.removeInstrument {
  display: inline;
  cursor: pointer;
}

.instrumentTitle h2 {
  display: inline;
}

/* SEQUENCER */

.sequencer {
  width: 98.7%;
  margin: 0 0 20px;
  border: 1px solid #222;
  padding: 5px;
  overflow: scroll;
}

.sequencerControls {
  position: relative;
  left: 328px;
  width: 300px;
  bottom: 3px;
}

.top {
  display: inline-block;
  margin: 0 8px 0 0;
}

.beatDividers {
  margin: 0 0 4px 179px;
  white-space: nowrap;
}

.divider {
  display: inline-block;
  margin: 0 5.5px;
}

.bracket {
  height: 7px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.beatNum {
  width: 100%;
  text-align: center;
  font-size: 13px;
}

.stepIndicatorBar {
  margin: 0 0 4px 179px;
  white-space: nowrap;
}

.stepIndicatorBar .step {
  height: 2px;
  background-color: black;
}

.stepIndicatorBar .step.on {
  background-color: yellow;
}

/* INDIVIDUAL TRACK */
.track {
  margin: 5px 0 20px;
  white-space: nowrap;
}

/* TRACK LABEL/CONTROLS */
.trackControls {
  width: 170px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.tracklabel {
  float: left;
  margin-right: 5px;
}

.trackLabelText {
  margin-left: 2px;
  display: inline-block;
  vertical-align: top;
}

.trackLabelText input {
  width: 104px;
  height: 18px;
}

.toggleEffects {
  float: right;
}

.toggleEffects img {
  width: 18px;
  margin-bottom: -4px;
  cursor: pointer;
}

.trackControls .left {
  float: left;
  width: 88%;
}

/* SAMPLE UPLOAD */
.trackControls .left .sample {
  width: 88%;
  float: left;
}

.trackControls .left .sample input {
  width: 80px;
}

/* MUTE/SOLO */
.trackControls .right {
  float: right;
}

.solo, .mute {
  width: 15px;
  text-align: center;
  cursor: hand;
  float: left;
  clear: both;
}

.solo {
  background-color: yellow;
}

.mute {
  background-color: red;
  color: #fff;
}

/* STEPS */
.steps {
  display: inline-block;
  margin-right: 8px;
  vertical-align: top;
}

.steps .step {
  height: 35px;
  background-color: #fff;
}

.steps .step.on {
  background-color: #000;
}

.step {
  display: inline-block;
  width: 35px;
  border: 1px solid black;
  margin: 0 5.5px;
}

.first {
  margin-left: 0 !important;
}

.last {
  margin-right: 0 !important;
}

/* EFFECTS PANEL */
.effects-panel {
  display: none;
}

.createeffect {
  margin-bottom: 7px;
  width: 110px;
}

.effect {
  border: 1px solid #222;
  padding: 4px 5px 4px 3px;
}

.effects {
  margin-right: 8px;
  display: inline-block;
}

.effectTitle {
  margin: 1px 0;
}

.effectTitleText {
  width: 120px;
  margin-bottom: 3px;
  display: inline-block;
  vertical-align: top;
}

.paramsList {
  margin-left: -1px;
  float: left;
  width: 100px;
}

.effectControls {
  width: 148px;
  display: inline-block;
  vertical-align: top;
  padding-left: 2px;
  margin-right: 10px;
}

.toggleEffect {
  font-size: 12px;
  float: left;
  margin: 4px 0 0;
  padding: 1px 2px;
  cursor: pointer;
  clear: left;
}

.toggleEffect.on {
  background-color: yellow;
}

.toggleEffect.off {
  background-color: #ccc;
}

.automationContainer {
  display: none;
}

.canvas {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #000;
  margin-left: 5px;
}

.canvas svg {
  left: 0;
  z-index: 0;
}

.canvasLabels {
  font-size: 11px;
  display: inline-block;
  width: 11px;
}

.canvasLabels span {
  float: right;
}

.canvasLabels .max {
  margin-bottom: 94px;
}

/* GENERAL */
.close img {
  cursor: pointer;
  margin: 0 3px -2px 0;
  width: 15px;
}

.close {
  display: inline-block;
  vertical-align: top;
}